/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}


/*custom part add to modify site 001*/

#logo{
  height:70px;
  width: 70px;
}

@font-add_shopping_cart {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.navbar-custom{
  background-color: #ffd11a;
}
.bg-custom{
  background-color: #ffd11a;
}
.navbar-brand{
  color : black;
}
.btn-custom{
  background-color: #ffd11a;
}
/*.btn-whatever{
  background-color: black;
}*/
#description{
  word-wrap: break-word;
}
#buildIt{
  height: 90px;
  width: 90px;
}

/*@font-face {
    font-family: 'buildItFont'; /*a name to be used later*/
    /*src: url('/Users/emanuele/Downloads/Baining-montecarlo-e59dacb5643c/startbootstrap-modern-business-gh-pages/fontStyle/rebel-scene/REBEL_SCENE_DEMO.ttf'); /*URL to font*/
/*}*/
#button_style_modify {
    font-family: 'buildItFont';
}

#button_style_modify{
  width: 500px;
  height: 150px;

  font-size: 50px;
}
